#Ignore IDE specific files and folders
.idea
*.iml
*.ipr
*.iws

# Ignores files when using Mac.
.DS_Store

commitMsg.txt
dependency-reduced-pom.xml
*.class
# *~

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# ignore log files
debug.log

target
